* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body#main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: url("../assets/trump.jpg") center center no-repeat fixed;
}

main#speech-generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main#speech-generator p {
    width: 80vw;
    padding: 25px 30px;
    background-color: #EBEBEB;
    filter: opacity(70%);
    line-height: 1.5rem;
    letter-spacing: .05rem;
    word-spacing: .1rem;
    margin: 40px 0;
    border-radius: 1rem;
}

main#speech-generator h1 {
    color: white;
}

main#speech-generator button {
    font-size: 15px;
    padding: 12.5px 20px;
    border-radius: 1rem;
    border: 0;
    background-color: #EA2027;
    letter-spacing: .05rem;
}
main#speech-generator button:hover {
    filter: brightness(90%);
}
main#speech-generator button:active {
    filter: brightness(82.5%);
}

#credits {
    font-size: 13px;
    color: rgb(173, 173, 173);
    position: absolute; 
    bottom: 0;
    right: 0;
    padding: 4px;
}